{% extends 'main/base.html' %}
{% block content %}
<div class="content-section">
    <h1>About SNiPtool</h1>
    <p>
        SNiPtool is a tool designed for the analysis of single-nucleotide polymorphism prediction tools using
        computationally generated datasets.
    </p>
    <p>
        Contact: <a class="mr-2" href="mailto:samuel.acostamelgarejo@postgrad.manchester.ac.uk">
            Samuel Acosta
        </a>
    </p>
    <p>
        <a class="mr-2" href="https://personalpages.manchester.ac.uk/postgrad/samuel.acostamelgarejo/">
            UoM Page
        </a>
    </p>
</div>
{% endblock content %}